
@import 'App';
@import 'reset';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  // background: red;
}
.active {
  background-color: #0099FF;
}
.loginForm{
	// margin-left: 25%;
	// width 50%;
}